<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>controller.ProcessRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUserHome</servlet-name>
        <servlet-class>controller.ProcessUserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAvatar</servlet-name>
        <servlet-class>controller.ProcessAvatar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/ProcessRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUserHome</servlet-name>
        <url-pattern>/ProcessUserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAvatar</servlet-name>
        <url-pattern>/ProcessAvatar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
