<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>controller.ProcessRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUserHome</servlet-name>
        <servlet-class>controller.ProcessUserHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>controller.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUpdate</servlet-name>
        <servlet-class>controller.ProcessUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSearchUsers</servlet-name>
        <servlet-class>controller.ProcessSearchUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessViewUser</servlet-name>
        <servlet-class>controller.ProcessViewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBanUser</servlet-name>
        <servlet-class>controller.ProcessBanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUnbanUser</servlet-name>
        <servlet-class>controller.ProcessUnbanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessView</servlet-name>
        <servlet-class>controller.ProcessView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/ProcessRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUserHome</servlet-name>
        <url-pattern>/ProcessUserHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUpdate</servlet-name>
        <url-pattern>/ProcessUpdate</url-pattern>
    </servlet-mapping>
    //REST Api
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProcessSearchUsers</servlet-name>
        <url-pattern>/ProcessSearchUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessViewUser</servlet-name>
        <url-pattern>/ProcessViewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBanUser</servlet-name>
        <url-pattern>/ProcessBanUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUnbanUser</servlet-name>
        <url-pattern>/ProcessUnbanUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessView</servlet-name>
        <url-pattern>/ProcessView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>
            servlet.ServletListener
        </listener-class>
    </listener>
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
